config/auth.env
config/app.env
nginx/keys/
openssl/jwtKeys/
auth/icons/
backend/src/tmp/
backend/launchs-tar/
node_modules/
dist/
.next/
.vite/
.env
.env.local
*.log
watcher/src/tmp/main
shared/shared
builder/src/tmp/main
controller/src/tmp/main
config/*.env
.DS_Store
**/.DS_Store
.claude/
